<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Harlem Education<br>History Project</h1>
            <hr>
            <p>Histories of education in Harlem. A collaborative project by faculty & students at Teachers College, Institute for Urban and Minority Education, Center on History and Education, Columbia Libraries, and school and community partners.</p>
            <a href="http://harlemeducationhistory.library.columbia.edu/collection/" class="btn btn-primary btn-xl page-scroll blue-button">Digital Collection</a>
            <a href="http://cup.columbia.edu/book/educating-harlem/9780231182218" class="btn btn-primary btn-xl page-scroll red-button">Buy the Book</a>
        </div>
    </div>
</header>
